p {
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  color: #62A7A5
}

h1 {
  color: #4378A7;
  text-align: center;
}

h2 {
  text-align: center;
  color: #717C96;
  font-size: 20px
}

a {
  text-decoration: none;
  padding-left: 90px
}

div {
  border: 2px solid #333333;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  padding-top: 50px;
  background-color: #CDCDCD;
  position: absolute;
  top: 10%;
  left: 35%
}

